.app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .square {
    position: relative;
    width: 100vw;
    height: 90vh;
    border: 1px solid black;
    background-image: url("./assets//map.svg");
  }
  
  .dot {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
     }
  
  .point-placement {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }