body {
  font-family: Arial, sans-serif;
}

.image-cropper {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.125rem;
}

.container {
  padding: 2rem;
  margin-top: 2rem;
}

.crop-details {
  margin-top: 1.5rem;
}

.cropper-wrapper {
  position: relative;
  overflow: hidden;
  background-color: black;
  border: 4px solid white;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.image-container {
  position: relative;
}

.cropping-image {
  width: auto;
  height: 100%;
  max-width: none;
  max-height: none;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s;
}

.overlay.hidden {
  opacity: 0;
}

.overlay.visible {
  opacity: 1;
}

.overlay .grid {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.overlay .grid .row {
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.overlay .grid .row:last-child {
  border-bottom: none;
}

.overlay .grid .column {
  flex: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.overlay .grid .column:last-child {
  border-right: none;
}
